<%= form_tag '/top/login', method: :post do %>
  <p><%= label_tag :email, 'メールアドレス' %>
  <%= text_field_tag :uid %></p>
  <p><%= label_tag :pass, 'パスワード' %>
  <%= password_field_tag :pass %></p>git
  <%= submit_tag 'ログイン' %>
<% end %>
<br/>
<p><%= link_to 'ユーザー一覧', '/users' %></p>
<p><%= link_to '戻る', :back %></p>
<p><%= link_to 'メインページ', '/top/main' %></p>