<% if flash[:notice] %>
   <p><%= flash[:notice] %></p>
<% end %>

<% if session[:login_uid] %>
  <%= "#{session[:login_uid]}さんログイン中" %>
<% end %>

<%= image_tag '' %>

<p><%= link_to '記事を書く', '/top/menu' %>
<%= link_to '記事を見る', '/top/form' %></p>

<%= image_tag '' %>

<%= link_to 'ログアウト', top_logout_path %>