<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP|Open+Sans&display=swap" rel="stylesheet">
    </head>
    

<%= image_tag "logo.png" %><br>

<div class="box">
　<p>
 　 <a><button class="Button-style"><%= link_to '記事を書く', '/top/menu' %></button></a>
　  <a><button class="Button-style"><%= link_to '記事を見る', '/articles' %></button></a>
　</p>
</div>

<%= image_tag '' %>

<% if flash[:notice] %>
   <p><%= flash[:notice] %></p>
<% end %>

<% if session[:login_uid] %>
  <%= "#{session[:login_uid]}さんログイン中" %>
<% end %>

<br><button class="logout"><%= link_to 'ログアウト', top_logout_path %></button>

</html>