<%= form_with model: @article, url: {action: :update} do |f| %>
  <p>
  <%= f.hidden_field :store_id, :value => @article.store_id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  </p>
  <p><%= f.label :title, 'タイトル' %>
  <%= f.text_field :title %></p>
  <p><%= f.label :intro, 'お店の紹介' %>
  <%= f.text_area :intro %></p>
  <p><%= f.label :kodawari, 'こだわり' %>
  <%= f.text_area :kodawari %></p>
  <p><%= f.label :mood, '雰囲気' %>
  <%= f.text_area :mood %></p>
  <p><%= f.label :review, 'レビュー' %>
  <%= f.text_area :review %></p>
  <p><%= f.submit '更新する' %></p>
<% end %>
